body{
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.bgbg{
    background-image: url(krasivo-2.jpg);
    height: 100vh;
    padding-top: 20px;

}

.back{
    margin: 20px 20px;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 10px;
    border: #000 2px solid;
    border-radius: 10px;

    transition: all 0.3s linear;
}

.back:hover{
    background-color: #3d008d;
    color: #fff
}



.reg-bg{
    border: #000 solid 5px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #acacac ; 
    width: 800px;
}

.forma{
    margin: 30px 60px;
    display: flex;
    flex-direction: column;
    color: #353535;
}

h5{
    font-size: 16px;
}

.reg-title{
    padding-top: 60px; 
    text-align: center;
}

.reg-txt{
    font-size: 36px;
    text-decoration: none;
    color: #353535; 
    font-weight: bold;
}

.xxx{
    margin-bottom: 8px;
    flex-direction: column;
    column-count: 2;
    column-gap: -5px;
}

.box{
    width: 200px;
    padding: 5px;
    margin-left: 118px;
}